<h1>Livros Disponiveis</h1>
<div class="books-container">
    {{#each books}}
        <div>
            #{{this.ID}} - 
            <span class="bold"><a href="/books/{{this.ID}}">{{this.title}}</a></span>
            - {{this.pageqty}} páginas
            </div>
        {{/each}}
</div>